APP_HTTP_PORT=8088
WEB_HTTP_PORT=4208
SQLSERVER_PORT=14338
SQLSERVER_DATABASE=AppCondominio
SQLSERVER_SA_PASSWORD=ChangeMeOutsideGit_123!
RABBITMQ_PORT=5678
RABBITMQ_MANAGEMENT_PORT=15678
RABBITMQ_USER=appcondominio
RABBITMQ_PASSWORD=ChangeMeOutsideGit
REDIS_PORT=6388
SEQ_PORT=5348
JWT_ISSUER=portal-corporativo
JWT_AUDIENCE=portal-corporativo-clients
JWT_SECRET=
PORTAL_GATEWAY_BASE_URL=http://host.docker.internal:8080/
